@charset "utf-8";
/* CSS Document */

body{
	background: url("error.gif");
	background-size: auto;
}

.errorMessageBox {
    display: block;
    position: absolute;
    top: 50%;
    width: 150px;
    height: 150px;
    background: rgb(255, 255, 255);
}

.errorMessage{
    font-family: Arial;
    margin-left: 10px;
}

