body {
    background: #0f0f20;
}
.z-1 {
    width: 50px;
    height: auto;
}
.z-2 {
    width: 100px;
    height: auto;
}
.z-3 {
    width: 200px;
    height: auto;
}

.spin:hover {
    animation: rotate .8s infinite;
  }

.blink{
    animation: blink 2s linear infinite;
}

.blur {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

.star {
    position: absolute;
}

